@import url("./reset/reset.css");

@import url("./assets/css/tailwind.css");

*:focus {
  outline-color: rgb(55 48 163);
}

.noto-serif-kr-regular {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-kr-bold {
  font-family: "Noto Serif KR", serif;
  font-weight: 700;
  font-style: normal;
}
.noto-serif-kr-semibold {
  font-family: "Noto Serif KR", serif;
  font-weight: 600;
  font-style: normal;
}

#root {
  font-family: "Noto Serif KR", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
