@import url("./reset/reset.css");

@import url("./assets/css/tailwind.css");

*:focus {
  outline-color: rgb(55 48 163);
}
body {
  width: 100vw;
  overflow-x: hidden;
}
input[type="radio"] {
  opacity: 0;
}
.hiddenScroll::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.hiddenScroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

#root {
  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
